<div class="page-data" style="display: none;" data-page-info='{"title": "Вопросы и ответы"}'></div>
<div class="back-block">
    <a href="/<%= language -%>/article">
        &lt Статьи
    </a>
</div>
<h1>Вопросы и ответы</h1>

<p>
    — Я написал(а) робота. Но не уверен(а), что он работает верно. Как мне протестировать его, чтобы убедиться в том, что робот будет работать корректно?<br />
    — Прочитайте статью <a href="/<%= language -%>/article/ai-check">«Тестирование программы искусственного интеллекта робота»</a>.
    Там подробно описан простой способ сделать тестирование для робота.
</p>

<p>
— Я написал(а) робота. Почему по загрузке получаю сообщение, что текст программы содержит ошибку?<br />
— Прочитайте разделы <a href="/<%= language -%>/rules">правила</a> и статью
 <a href="/<%= language -%>/article/how-to-create-warrior">«Программирование алгоритма искусственного интеллекта робота»</a>,
 чтобы понять, как правильно написать текст программы робота.
</p>

<p>
— Я разрабатываю робота, но у меня не получается сделать то-то или то-то. Помогите сделать?<br />
— Прочитайте раздел <a href="/<%= language -%>/article/typical-task-resolves">«Решение типичных задач во время программирования алгоритма»</a>.
 Там подробно описана библиотека.
 Задачи, решенные в этой библиотеке, обычно возникают в процессе разработки робота.
</p>

<p>
— Почему не пришло письмо с активацией учётной записи?<br />
— Подождите некоторое время после регистрации. Иногда письма приходят с задержкой до получаса. Проверьте раздел почты «Спам». Иногда письма попадают этот раздел. Если письмо все же не приходит длительное время, напишите <a href="mailto:admin@grid-wars.com">письмо</a> администратору.
</p>
<p>
— Напишите <a href="mailto:admin@grid-wars.com">письмо</a> с вопросом, если вы не нашли его на странице.
</p>



