
<div class="page-data" style="display: none;" data-page-info='{"title": "Статьи об игре Gridwars"}'></div>

<h1>
    Статьи об игре Gridwars
</h1>

<p>
    <ul class="page-list">
        <li>
            <a href="/<%= language -%>/about">
                История игры Gridwars
            </a>
        </li>
        <li>
            <a href="/<%= language -%>/rules">Правила игры</a>
        </li>
        <li>
            <a href="/<%= language -%>/article/faq">Вопросы и ответы</a>
        </li>
        <li>
            <a href="/<%= language -%>/article/how-to-create-warrior">
                Программирование алгоритма искусственного интеллекта робота
            </a>
        </li>
        <li>
            <a href="/<%= language -%>/article/typical-task-resolves">
                Решение типичных задач во время программирования робота
            </a>
        </li>
        <li>
            <a href="/<%= language -%>/article/ai-check">
                Тестирование программы искусственного интеллекта робота
            </a>
        </li>
    </ul>
</p>