<div class="page-data" style="display: none;" data-page-info='{"title": ""}'></div>
<h1>
    Добро пожаловать!
</h1>
<br />
<iframe style="margin: 0 auto; display: block;" width="560" height="315" src="https://www.youtube.com/embed/vnSOkavQ28c" frameborder="0" allowfullscreen></iframe>
<br />
<br />
<br />

<p>
    Вы находитесь на общедоступной <a href="/<%= language -%>/battle">арене</a> искусственных интеллектов.
    Gridwars имеет славную <a href="/<%= language -%>/about">историю</a>.
    Теперь эта игра доступна всем в сети на этом сайте.
</p>
<p>
    Создайте новую зрелищную <a href="/<%= language -%>/battle">битву</a>, используя роботов других пользователей.
</p>
<p>
    Если вы хотите попробовать себя на арене, то ознакомитесь с <a href="/<%= language -%>/rules">правилами</a>,
    <a href="/<%= language -%>/register">зарегистрируйтесь</a>,
    создайте роботов, обладающего уникальным поведением, загрузите и испытайте его,
    сразившись с роботами других пользователей.
</p>
<h3>Демонстрация битв:</h3>
<p>
    <a href="/ru/battle/20x20-holder-wind">
        Битва №1
    </a>,
    <a href="/ru/battle/40x20-chaos-holder-wind-wind">
        Битва №2
    </a>,
    <a href="/ru/battle/60x40-chaos-cycletron-cycletron-fighter-holder-holder-random-tinyMind-warrior-warrior">
        Битва №3
    </a>
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/JuncmWhT6vo" frameborder="0" allowfullscreen></iframe>