<div class="page-data" style="display: none;" data-page-info='{"title": \"Восстановление пароля\"}'></div>
<% if (noHash) { -%>

    Нет идентификатора восстановления пароля.

<% } else {%>

<form method="POST" action="/password-recovery" name="form-password-recovery">

    Новый пароль:<br />
    <input type="password" name="password" /><br />

    <div class="form-password-recovery__password-error">
        <div class="form-password-recovery__password-error-required">
            Обязательно для заполнения.
        </div>
        <div class="form-password-recovery__password-error-too-short">
            Длина пароля должна быть не менее <%= fieldLengths.password.min -%> символов.
        </div>
        <div class="form-password-recovery__password-error-too-long">
            Длина должна быть не более <%= fieldLengths.password.max -%> символов.
        </div>
        <div class="form-password-recovery__password-error-not-valid">
            Пароль не валиден. Используйте символы <%= symbolSets.password -%>. Должен начинаться с буквы.
        </div>
    </div><br />

    Подтверждение нового пароля:<br />
    <input type="password" name="password-confirm" /><br />

    <div class="form-password-recovery__password-confirm-error">
        <div class="form-password-recovery__password-confirm-error-required">
            Обязательно для заполнения.
        </div>
        <div class="form-password-recovery__password-confirm-error-too-short">
            Длина пароля должна быть не менее <%= fieldLengths.password.min -%> символов.
        </div>
        <div class="form-password-recovery__password-confirm-error-too-long">
            Длина должна быть не более <%= fieldLengths.password.max -%> символов.
        </div>
        <div class="form-password-recovery__password-confirm-error-not-valid">
            Пароль не валиден. Используйте символы <%= symbolSets.password -%>. Должен начинаться с буквы.
        </div>
    </div>
    <div class="form-password-recovery__password-group-error">
        <div class="form-password-recovery__password-group-error-do-not-match">
            Пароли не совпадают.
        </div>
    </div><br />

    <input type="hidden" name="recovery-hash" /><br />

    <input type="submit" value="Сменить пароль" />

    <div class="form-password-recovery__form-error">
        <div class="form-password-recovery__form-error-nocontent">
            Нет соединения с интернетом. Восстановление неудачно.
        </div>
        <div class="form-password-recovery__form-error-error">
            Ошибка во время отправки запроса. Восстановление неудачно.
        </div>
        <div class="form-password-recovery__form-error-abort">
            Соединение было прервано. Восстановление неудачно.
        </div>
        <div class="form-password-recovery__form-error-parsererror">
            Ошибка во время разбора ответа сервера.
        </div>
        <div class="form-password-recovery__form-error-timeout">
            Истекло время ожидания ответа сервера.
        </div>
        <div class="form-password-recovery__form-error-server">
            Произошла ошибка во время восстановления.
        </div>
        <div class="form-password-recovery__form-error-recover-id-is-outdated">
            Идентификатор восстановления пароля устарел или неправильный.
            Закажите <a href="/password-recovery-order">новый идентификатор</a>.
        </div>
    </div>
    <div class="form-password-recovery__success-message">
        Смена пароля прошла успешно.<br/>
        Через мгновение вы будите, направлены на страницу входа,<br/>
        где вы сможете зайти на сайт, используя новый пароль.<br/>
    </div>
</form>

<script type="text/javascript" src="/lib/fieldLengths.js"></script>
<script type="text/javascript" src="/lib/validateRegulars.js"></script>
<script type="text/javascript" src="/js/form-password-recovery.js"></script>

<% } %>